.listMessages {
    list-style: none;
}
.listMessages li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    position: relative;
    display: flex;
}
.listMessages li span {
    cursor: pointer;
    font-size: 12px;
    padding: 0 5px;
    
}

.listMessages li span.delete-message {
    color: red;
}

.listMessages li span.edit-message {
    margin-left: auto;
    color: green;
}

.edit-form {
    display: none;
}
.edit-form.visible {
    display: block;
}