.listMessages {
    list-style: none;
}
.listMessages li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    position: relative;
}
.listMessages li span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
    font-size: 12px;
}